/*  
 * css source: https://github.com/athas/sigkill.dk/blob/master/css/default.css
 */

:root {
    --bg: black;
    --prebg: black;
    --text: #ffb000;
    --headertext: black;
    --button: #990099
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: monospace;
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    overflow-y: scroll;
    line-height: 1.4;
    font-size: 1.8em;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body > * {
    margin: 1%;
}

h1 {
    font-size: 1em;
}

h1::before {
    content: "# ";
}


.typewriter h1 {
  overflow: hidden;
  font-family: Hack, monospace;
  border-right: .15em solid transparent; 
  left: 0;
  letter-spacing: .15em; 
  animation: typing 6.5s steps(90, end), blink-caret .9s step-end alternate; 
  white-space: nowrap; 
}

.typewriter h1::before {
    content: "> ";
    color: #a4f644;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: #a4f644; }
}

h2 {
    margin-top: 1em;
    font-size: 1em;
}

h2::before {
    content: "## ";
}

h3 {
    margin-top: 1em;
    font-size: 1em;
}

h3::before {
    content: "### ";
}

#header, #footer {
    background-color: var(--headerbg);
    margin: 0;
}

#header a {
    font-weight: bold;
    font-variant: normal;
    font-family: monospace;
    border: 0;
}

.headerTitle, .headerTitle a {
    color: var(--bg);
    font-family: serif;
    margin: 1%;
}


/* # General styling # */

img {
    position: relative;
    float: right;
}

table {
    margin: 15px;
    background-color: transparent;
    border: 0px dashed var(--bg);
}

hr {
    margin: 0;
}

td {
    background-color: var(--bg);
    border:1px solid var(--text);
    padding:0.2em 20px 0.2em 10px;
}

a {
    color: var(--text);
}

a:link, a:visited {
    text-decoration: none;
    border-bottom: 1px solid var(--text);
}

a:active, a:hover {
    text-decoration: none;
}

a img {
    border: 0px;
}

li {
    margin-left: 2%;
}

h1>a, h2>a, h3>a {
    color: var(--text);
    text-decoration: none;
}

h1>a, h2>a, h3>a:hover {
    color: var(--text);
    text-decoration: none;
}

pre {
    background-color: var(--prebg);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3ex;
}

code {
    font-weight: bold;
}

pre > code {
    font-weight: normal;
}

/* Blog styling */

.posttitle {
    margin-bottom: 0em;
}

.postmetadata {
    margin-top:0em;
    font-size:10pt;
}

/* # General util # */

.left {
    float: left;
}

.right {
    text-align: right;
}

.doNotDisplay {
    display: none;
}

.sourceCode {
    border: 0;
    background-color: var(--prebg);
}

a.button {
  background-color: var(--prebg);
  color: var(--button);
  position: fixed;
  top:0;
  left: 0;
  font-size: 2em;
}

div.content {
  margin-top: 200px;
}

div.content-publications {
  margin-top: 100px;
}

.box {
    display: none;
    width: 100%;
}

small.tiny {
 font-size: 10px
}

.rightAlignedText {
    right: 0;
    margin-top: -100px;
    position: absolute;
    text-align: left;
    padding: 10px;
    top: 50%;
    width: 50%;
}

.face-image {
    max-height: 50%;
    max-width: 50%;
    height: auto;
    width: auto;
    border-radius:50%;
    margin-top: 10%;
    margin-right: 55%;
}

.tabs {
    position: absolute;
    right: 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(55, 55, 55, 55),
        rgba(55, 55, 55, 55),
        rgba(55, 55, 55, 55)
    );
}
